#!/usr/bin/env sh
set -e

name(){
    kubectl get ns --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true | grep '<%= namespace %>' | awk '{ print $1 }'
}

id=$( name )

if [[  $id && ${id-x} ]]; then
    echo "INFO: kubectl delete ns --kubeconfig=<%= kube_config_path %> <%= namespace %> --v=0 --insecure-skip-tls-verify=true"
    kubectl delete ns <%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true
fi