#!/usr/bin/env sh
set -e

name(){
    kubectl get <%= deploy_type %>  --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true | grep '<%= name %>' | awk '{ print $1 }'
}

id=$( name )

if [[  $id && ${id-x} ]]; then
    echo "INFO: kubectl -f <%= config %> delete --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true"
    kubectl -f <%= config %> delete --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true
fi