#!/usr/bin/environment bash
set -e

<%= config_file ? "export KUBECONFIG=#{config_file}" : "" %>
#<%= namespace ? "kubectl create ns #{namespace}" : "" %> # TODO (ds): should be done by helm but does not work anymore.
helm upgrade --install <%= release %> <%= chart %> <%= opts %>
