apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    certmanager.k8s.io/cluster-issuer: letsencrypt-staging
  name: <%= name %> # auto-demo
  namespace: <%= namespace %>
spec:
  rules:
  - host: <%= domain %>
    http:
      paths:
      - backend:
          serviceName: <%= service_name %>
          servicePort: <%= service_port %>
  tls:
  - hosts:
    - <%= domain %>
    secretName: <%= secret_name %> #canary-kunde-1-apps-mo-cloudgear-ch

