#!/usr/bin/environment bash
set -e
<%= config_file ? "export KUBECONFIG=#{config_file}" : "" %>
helm delete  <%= release %> --purge

<%= remove_namespace != false ? "kubectl delete namespace #{remove_namespace}" : "" %>
