#!/usr/bin/environment bash
set -e
echo "INFO: If you are not root please install helm manually like this:"
echo "---- helm install ---"
echo "curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh"
echo "chmod 700 get_helm.sh"
echo "./get_helm.sh -v v"<%= version %>
echo "---- helm install ---"

curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
chmod 700 get_helm.sh
./get_helm.sh -v v<%= version %>