#!/usr/bin/env sh
set -e

name(){
    kubectl get <%= deploy_type %> --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true | grep '<%= name %>' | awk '{ print $1 }'
}

id=$( name )


error_count=0

command="kubectl -f <%= config %> apply --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true"
echo "INFO: Execute '$command'"
while $command; [ $? != 0 ]; do
  if [ $error_count -gt 4 ]; then echo "ERROR: Giving up executing command '$command'."; echo "Error!" 1>&2; exit 64; fi
  error_count=`expr $error_count + 1`
  sleep 1; echo "Command $command failed. Retry!";  # Pause before retry
done

<%- unless deploy_ones %>
#if [[  $id && ${id-x} ]]; then
<%- if deploy_type == "deploy" %>
  kubectl -f <%= config %> patch --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true \
      -p "{\"spec\":{\"template\":{\"metadata\":{\"labels\":{\"date\":\"`date +'%s'`\"}}}}}"
<%- else %>
  kubectl -f <%= config %> patch --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true \
      -p "{\"metadata\":{\"labels\":{\"date\":\"`date +'%s'`\"}}}"
<%- end %>

#fi
<%- end %>

