apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: <%= id %>
  namespace: <%= namespace %>
spec:
  replicas: 1
  selector:
    matchLabels:
      app: <%= id %>
  template:
    metadata:
      name: <%= id %>
      namespace: <%= namespace %>
      labels:
        app: <%= id %>
    spec:
      containers:
      - name: <%= id %>
        image: <%= image %>
        imagePullPolicy: <%= image_pull_policy %>
        <%- if args %>
        args:
        <%- args.each do |arg| %>
        - <%= arg %>
        <%- end %>
        <%- end %>
        <%- if env %>
        env:
        <%- env.each do |v| %>
        - name: <%= v.name %>
          value: '<%= v.value %>'
        <%- end %>
        <%- end %>
        <%- if container_port %>
        ports:
        - name: http
          containerPort: <%= container_port %>
        <%- end %>
        <%- if volumes %>
        volumeMounts:
        <%- volumes.each do |volume| %>
        - name: <%= volume.name %>
          mountPath: <%= volume.mount_path %>
        <%- end %>
        <%- end %>
      <%- if volumes %>
      volumes:
      <%- volumes.each do |volume| %>
      - name: <%= volume.name %>
        hostPath:
          path: <%= volume.host_path %>
      <%- end %>
      <%- end %>
      <%- if node %>
      nodeSelector:
        kubernetes.io/hostname: <%= node %>
      <%- end %>
