#!/usr/bin/env sh
set -e

name(){
    kubectl get <%= deploy_type %> --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true | grep '<%= name %>' | awk '{ print $1 }'
}

id=$( name )

if [[  $id && ${id-x} ]]; then
    echo "INFO: $id already running. Please stop first. Config: <%= config %>"
    if [[  <%= deploy_type %> == 'ns' ]]; then
        echo "INFO: Use this command to stop: kubectl -f <%= config %> delete --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true"
    else
        kubectl -f <%= config %> delete --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true
    fi
fi

echo "INFO: kubectl -f <%= config %> create --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> # $id"
kubectl -f <%= config %> create --namespace=<%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true
