#!/usr/bin/env sh
set -e

echo "INFO: kubectl cp <%= source %> <%= pod %>:<%= destination %>"

name(){
    kubectl get pod -n <%= namespace %> --kubeconfig=<%= kube_config_path %>  --insecure-skip-tls-verify=true | grep '<%= pod %>' | awk '{ print $1 }'
}

count(){
  id=$(echo $( name ) | sed -e 's/\n//g')
  grep -o "<%= pod %>" <<< "$id" | wc -l
}

check(){
    id=$( name )
    <%- if container_name %>
    kubectl get pods $id -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true  -o json | jq '.status.containerStatuses[] | select(.name == "<%= container_name %>") | {ready} | select(.ready == true)'
    <%- else %>
    kubectl get pods $id -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true  -o json | jq '.status.containerStatuses[] | {ready} | select(.ready == true)'
    <%- end %>
}

while [ $(count) != 1 ]; do
    echo "INFO: Resource <%= pod %> not ready. Retrying in 5s! (Pod count: $(count))"
    sleep 5
done
echo "INFO: Pod ready."

while [ "$(check)" = "" ]; do
  echo "INFO: Container <%= pod %> of pod $( name ) not ready. Retrying in 2s! (Pod count: $(count))"
  sleep 2
done

echo "INFO: Container ready."
id=$( name )
error_count=0
if [[  $id && ${id-x} ]]; then
<%- if container_name %>
  echo "INFO: kubectl cp -c <%= container_name %> -n <%= namespace %> --kubeconfig=<%= kube_config_path %> <%= source %> $id:<%= destination %> --insecure-skip-tls-verify=true"
  command="kubectl cp -c <%= container_name %> -n <%= namespace %> --kubeconfig=<%= kube_config_path %> <%= source %> $id:<%= destination %> --insecure-skip-tls-verify=true"
  while $command; [ $? != 0 ]; do
    if [ $error_count -gt 4 ]; then echo "ERROR: Giving up executing command '$command'."; echo "Error!" 1>&2; exit 64; fi
    error_count=`expr $error_count + 1`
    sleep 1; echo "Command $command failed. Retry!";  # Pause before retry
  done
<%- else %>
  echo "INFO: kubectl cp -n <%= namespace %> --kubeconfig=<%= kube_config_path %> <%= source %> $id:<%= destination %> --insecure-skip-tls-verify=true"
  command="kubectl cp -n <%= namespace %> --kubeconfig=<%= kube_config_path %> <%= source %> $id:<%= destination %> --insecure-skip-tls-verify=true"
  while $command; [ $? != 0 ]; do
    if [ $error_count -gt 4 ]; then echo "ERROR: Giving up executing command '$command'."; echo "Error!" 1>&2; exit 64; fi
    error_count=`expr $error_count + 1`
    sleep 1; echo "Command $command failed. Retry!";  # Pause before retry
  done
<%- end %>
else
  echo "WARN: Container with name: '<%= pod %>' not found. # id: $id"
fi
