#!/usr/bin/environment bash
set -e
<%= config_file ? "export KUBECONFIG=#{config_file}" : "" %>
#helm init <%= client_only ? "--client-only" : "" %> <%= service_account ? "--service-account #{service_account}" : "" %>
helm init <%= service_account ? "--service-account #{service_account}" : "" %>

