apiVersion: v1
kind: Config
clusters:
  - cluster:
      api-version: v1
      insecure-skip-tls-verify: true
      server: "<%= server %>"
    name: "ctron"
contexts:
  - context:
      cluster: "ctron"
      user: "ctron"
    name: "ctron"
current-context: "ctron"
users:
  - name: "ctron"
    user:
      token: "<%= token %>"
