kind: Config
apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: "<%= server %>"
  name: ctron
contexts:
- context:
    cluster: ctron
    user: ctron
  name: ctron
current-context: ctron

users:
- name: ctron
  user:
    password: "<%= password %>"
    username: "<%= user %>"

