#!/usr/bin/env bash
set -e

error_count=1
<%- if retry_command %>
retry=10
<%- else %>
retry=0
<%- end %>
sleep 5
echo "INFO: Will retry $retry times."
echo "INFO: Executing command '<%= command %>' on resource <%= pod %>."

name(){
    kubectl get pod -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true | grep '<%= pod %>' | awk '{ print $1 }'
}

count(){ # how many pods are running
  id=$(echo $( name ) | sed -e 's/\n//g')
  grep -o "<%= pod %>" <<< "$id" | wc -l
}

check(){ # check if container is ready
    id=$( name )
    <%- if container_name %>
    kubectl get pods $id -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true  -o json | jq '.status.containerStatuses[] | select(.name == "<%= container_name %>") | {ready} | select(.ready == true)'
    <%- else %>
    kubectl get pods $id -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --insecure-skip-tls-verify=true  -o json | jq '.status.containerStatuses[] | {ready} | select(.ready == true)'
    <%- end %>
}

while [ $(count) != 1 ]; do
    echo "INFO: Resource <%= pod %> not ready. Retrying in 5s! (Pod count: $(count))"
    sleep 5
done

echo "INFO: Pod ready."
id=$( name )
while [ "$(check)" = "" ]; do
  echo "INFO: Container <%= pod %> of pod $( name ) not ready. Retrying in 2s! (Check: $(check))"
  sleep 2
done

echo "INFO: Container ready."
sleep 5

if [[  $id && ${id-x} ]]; then
  <%- if container_name %>
    command="kubectl exec $id -c <%= container_name %> -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true -- <%= command %>"
  <%- else %>
    command="kubectl exec $id -n <%= namespace %> --kubeconfig=<%= kube_config_path %> --v=0 --insecure-skip-tls-verify=true -- <%= command %>"
  <%- end %>

  echo "INFO: Executing command '$command'"
  <%- if ignore_errors %>
    echo "WARN: Ignoring errors because ignore_errors=true!"
    while $command; [ $? != 0 ]; do
      exit 0
    done
  <%- else %>
    while $command; [ $? != 0 ]; do
      if [ $error_count -gt $retry ]; then
        count=`expr $error_count - 1`
        echo "ERROR: Giving up executing command. error_count $count"; exit 1;
      fi
      error_count=`expr $error_count + 1`
      sleep 5; echo "Command failed. Retry! error_count $count";  # Pause before retry
    done
  <%- end %>
else
  echo "WARN: Container with name: '<%= pod %>' not found. # id: $id"
fi
