apiVersion: v1
kind: Service
metadata:
  name: <%= id %>
  namespace: <%= namespace %>
  labels:
    name: <%= id %>
  annotations:
  <%- if domain %>
    DOMAINS: <%= domain %> # domain:port
  <%- end %>
  <%- if http_user && http_passwd %>
    HTTP_USER: <%= http_user %>
    HTTP_PASSWD: <%= http_passwd %>
  <%- end %>
spec:
  ports:
    - port: <%= port %>
      targetPort: <%= container_port %>
  selector:
    app: <%= selector_id ? selector_id : id %>
